* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

nav ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 20px;
}

nav li a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 0.3s ease;
  padding: 5px 20px;
  border-radius: 5px;
}

nav li a:hover {
  background-color: grey;
  color: white;
}

nav ul ul {
  position: absolute;
  display: none;
  padding: 5px;
}

nav ul .dropdown:hover ul {
  position: absolute;
  display: block;
  flex-direction: column;
  right: 0;
}

nav ul ul li {
  margin-top: 12px;
}

nav ul ul li a {
  color: white;
}
.fas fa-shopping-cart {
  background-color: white;
}

/* /////////////////////////////////content//////////////////////// */
#content {
  background-image: url(../../photos/husss.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 55% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#content h1 {
  font-size: 50px;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
#content h2 {
  font-size: 30px;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
#header .fa-paw {
  color: white;
  position: relative;
  font-size: 60px;
  right: 55px;
}

#content button {
  background-color: green;
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.section-heading {
  padding: 40px 80px;
}

.f-box img {
  position: relative;
  height: 100px;
  top: -1px;
  left: -1px;
}

#feature .f-box {
  width: 190px;
  height: 170px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  margin: 15px 0;
}

#feature .f-box h6 {
  position: relative;
  font-size: 15px;
  color: black;
  background-color: bisque;
  padding: 3px 10px;
  border-radius: 3px;
  top: 10px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Featured pets */
#featured-pets {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  background-color: bisque;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

#featured-pets h2 {
  color: #643b3b;
  font-family: sans-serif;
  position: relative;
  top: 20px;
}
.line {
  position: relative;
  width: 160px;
  height: 5px;
  background-color: #643b3b;
  top: 25px;
}

#featured-pets p {
  position: relative;
  color: #180303;
  font-family: sans-serif;
  top: 40px;
}

#featured-pets button {
  background-color: white;
  color: orangered;
  padding: 15px 30px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 52px;
  right: 50px;
}

/* Fetched data from PHP */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  justify-content: center;
}

.item {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid rgb(229, 215, 215);
}

.item:hover {
  transform: translateY(-5px);
}

.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details {
  padding: 20px;
}

.breed {
  position: relative;
  top: 6px;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  color: #042546;
}

.price {
  font-weight: bold;
  color: #d96405;
}

/* Icons */
.icons {
  position: relative;
  display: flex;
  justify-content: end;
  top: 20px;
  gap: 15px;
  align-items: center;
}

.icon {
  color: #6c757d;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon:hover {
  color: orange;
}

/* View button */
.view-button {
  position: relative;
  display: inline-block;
  margin-top: 10px; /* Adjust as needed */
  text-decoration: none;
}

.view-button button {
  background-color: orange;
  color: #fff; /* White button text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button button:hover {
  background-color: lightsalmon;
}

/* /////////Foot//////////////////////////// */
.foot {
  width: auto;
  background-color: rgb(133, 38, 9);
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.foot h1 {
  color: white;
  font-size: 60px;
}

.foot button {
  background-color: orange;
  padding: 10px 30px;
  border: none;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px; /* Add space between h1 and button */
  cursor: pointer;
}

/* //////////////////////////////footer/////////////////////////////////////// */

footer {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  /* margin-bottom: 2rem; */
}

.footer {
  box-sizing: border-box;
  margin-top: 30px;
  background-color: rgb(27, 27, 27);
  color: #fefefe;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.paw {
  position: relative;
}

.fa-shield-dog {
  font-size: 40px;
}

.footer .heading h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 0;
}

.footer .heading hr {
  border: none;
  border-top: 2px solid #fefefe;
  width: 100%;
  margin: 10px auto;
}

.footer .content {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: 30px;
}
.footer .content .services {
  position: relative;
  right: 40px;
  width: 30%;
}

.footer .content h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer .content p {
  margin-bottom: 5px;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}
.services p {
  position: relative;
  text-align: justify;
  right: 20px;
}
.links {
  position: relative;
  right: 10px;
}

.details {
  position: relative;
  bottom: 24px;
}

footer hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #fefefe;
  width: 80%;
}

.l-footer p {
  width: 100%;
  /* background-color: #111213; */
  color: white;
  position: relative;
  top: 10px;
}
